.dados.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 5em 0;
}

.dado__destaque {
    color: var(--cor-vermelho);
    font-size: 3em;
    font-weight: 600;
}

.dado__titulo {
    padding: 1em 0;
    color: var(--cor-titulo);
}

.dado__descricao {
    color: var(--cor-padrao);
}

@media screen and (max-width: 1100px) {
    .dados.container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .dados.container {
        grid-template-columns: 300px;
        justify-content: center;
    }
}